[access]
	inheritFrom = All-Projects
[project]
	description = Network Intent Composition (NIC)
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-nic-committers
	owner = group saml/odl-gerrit-nic-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
