<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (c) 2017 Serro LLC. All rights reserved.
  ~
  ~ This program and the accompanying materials are made available under the
  ~ terms of the Eclipse Public License v1.0 which accompanies this distribution,
  ~ and is available at http://www.eclipse.org/legal/epl-v10.html
  -->
<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>nic-juniper-switch</display-name>

    <servlet>
        <servlet-name>nic</servlet-name>
        <servlet-class>org.opendaylight.nic.rpc.rest.JuniperDeviceInfoRestServiceImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>nic</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>